@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

@tailwind: base;
@tailwind: components;
@tailwind: utilities;

/* Global font */
* {
  font-family: "Outfit", sans-serif;
}

@layer base {

  button {
    @apply cursor-pointer;
  }
}

  input:not([type="checkbox"]),
  textarea {
    @apply outline-none focus:ring border border-gray-300 focus:ring-violet-500 focus:border-violet-500 rounded-lg;
  }

  textarea{
    @apply outline-none focus:ring border border-gray-300 focus:ring-violet-500 focus:border-violet-500 rounded-lg resize-none;
  }